.infoCard {

    display: flex;
    flex-direction: row-reverse;
    height: 80rem;
    width: 100%;
    position: relative;
    color: var(--color-primary);
    
    &__img {

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 55vw;
        clip-path: polygon(0px 0px, 100% 0%, 100% 100%, 20% 100%);
    }

    &__content {
       
        display:flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 50vw;
        padding: 5rem 5rem 5rem 12rem;
        text-align: center;
       
    }

    &__header {

        letter-spacing: var(--letter-space-header);
        
        &--main-red {

           font-size: var(--heading-main); 
        }

        &--sub-red {

            font-size: var(--heading-small);
            font-weight: 100;
            letter-spacing: var(--letter-space-header-2);
        }

        &--secondary-red {

            text-align: center;
            width: 100%;
            font-family: var(--font-secondary);
            font-size: var(--heading-secondary-2);
            font-weight: 500;   
        }

        &--main-grey {
            
            font-size: 8.5rem;
            color: #5B5B5B;
            text-shadow: 1px 2px 4px rgba(150, 150, 150, 0.43);
            text-transform: uppercase;
            letter-spacing: .3rem;
            font-weight: 900;
            width: 100%;
            text-align: left;
        }

        &--sub-grey {
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: 0.2rem;
            text-transform: capitalize;
            color: #5B5B5B;
            width: 100%;
            text-align: left;
        }
    }

    &__paragraph {
        
        font-size: 1.45rem;
        font-weight: 400;
        text-align: center;
        letter-spacing: var(--letter-space-text-2);
        line-height: var(--line-height-primary);
        color: var(--color-light-secondary);
        
    }

    &__icon-container {

        display: flex;
        justify-content: center;
    }

    &__icons {

        height: 4.5rem;
        margin: 1rem;
        opacity: 0.9;

        &--youtube_icon {
            border-radius: 1rem;
        }

        &:hover {
            transform: scale(1.1);
            opacity: 1;
        }
    }

}

@media only screen and (max-width: 103.125em) { 

    .infoCard {

        &__header {

            &--main-red {
                font-size: 4.5vw;
            }
           
            &--secondary-red {
                
                font-size: 2.7vw;
               
                text-align: center;
            }    
        }
    }
}

@media only screen and (max-width: 90em) {

    .infoCard {

        &__header {

            &--main-red {
                font-size: 6.9;
            }
        }
    }
}

@media only screen and (max-width: 78em) { //75rem 
   
    .infoCard {

        &__img {

            position: relative;
            clip-path: none;
            width: 100%;
            background-position: center;
            
        }

        &__content {

            position: absolute;
            top:0;
            left:0; //so content can sit ontop of background image
            background: linear-gradient(90deg, #f0f0f0c4 0%, #f7f6f6f7 35%, #ece8e8e0 100%);
            padding: 0 7rem 0 7rem;
        
        }

        &__header {

            font-size: 6vw;
           
            &--sub-red, &--sub-grey {
               
                font-size: 2.5rem;
                margin-bottom: 2rem; 
            }
    
            &--secondary-red {
                
                font-size: 2.5vw;
                margin-top: 2rem;
            }
            
        }

        &__paragraph {

            font-size: 1.2vw;
            line-height: 2.5rem;
        }

        &__icons {

           height: 3vw;
        }
        
    }
}



@media only screen and (max-width: 64em) { //large tablets portrait onwards

    .infoCard {
        
        flex-direction: column;
        height: min-content;

        &__img {

            background-size: cover;
            background-position-y: 30%;
            height: 50rem;
            width: 100%;
        }

        &__content {

            position: unset;
            height: min-content;
            width: 100%;
            padding: 7rem 10rem 7rem 10rem;
        }

        &__header {

           &--main-red, &--main-grey {
               font-size: 8.5rem;
           }
           
            &--sub-red, &--sub-grey {
               
                font-size: 2.5rem; 
                margin-bottom: 3rem;
            }
    
            &--secondary-red {
                
                font-size: 4.5rem;
            }
            
            &--main-grey, &--sub-grey {

                width: unset;
            }
        }

        &__paragraph {

            width: 90%;
            font-size: 1.9rem;

            &--2 {
                padding: 0 1.5rem 0 1.5rem;
            }
        }

        &__icons {

           height: 4.5rem;
        } 
    }
}


@media only screen and (max-width: 37.5em) {

    .infoCard {
        
        height: min-content;

        &__img {

            position: absolute; //image sits relative to the content(content sits relative to the parent container infocard, infocard height is defined by the content containers "content" which the background image height is relative to)
            top:0;
            left: 0;
            background-size: cover;
            background-position: center;
            height: 100%;
        }

        &__content {

            position: relative;
            height: 100%;
            padding: 10rem 5rem 10rem 5rem;
        }

        &__header {
        
           &--main-red, &--main-grey {

               padding: unset;
               font-size: 12.5vw;
           }
           
            &--sub-red, &--sub-grey {
               
                font-size: 3.5vw; 
            }
    
            &--secondary-red {
                
                font-size: 6vw;
            }    
        
        }

        &__paragraph {

            font-size: 1.9rem;
            line-height: 2.7rem;

            &--2 {
                padding: unset;
            }
        }

        &__icons {
    
           height: 4.5rem;
        }
    }
}

@media only screen and (max-width: 28.125em) {

    .infoCard {
        
        &__content {

            padding: 10rem 2.5rem 10rem 2.5rem;
        }

        &__paragraph {

            padding-bottom: 1.5rem;
            font-size: 1.8rem;
            line-height: 2.7rem;
        } 
    }
}


