.Landing-page {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: var(--font-primary);
    color: var(--color-light-primary);

    &__subtitle {

        font-size: 1.9rem;
        letter-spacing: 0.5rem;
        font-weight: 100;
        margin-bottom: 1.5rem;

        @media only screen and (max-width: 37.5em) {
            font-size: 2.5vw;
        }

        @media only screen and (max-width:21.875em) {
            font-size: 1.2rem;
        }
    }
}