.card {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28rem;
    height: 47rem;
    margin: 1%;

    background-color:#f2f2f2;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: .7rem;
    overflow: hidden;
    
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0.1rem;

    transition: all .3s;

    @media only screen and (max-width: 64em) {
        margin: 2rem;
    }

    &__background-img {

        object-fit: cover;
        width: 30rem;
        height: 23rem;

       &--4 {
           object-position: 0 -20px;
       }
    }

    &__heading {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 5rem;
        background-color: #232323;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--color-light-primary);
        
    }

    &__text{

        margin-left: 2.5rem;
        margin-right: 2.5rem; 
        margin-top: 3.3rem;
        margin-bottom: 1.5rem;
        color: rgb(53, 53, 53);
        font-size: 1.2rem;
    }

    &:hover{
        transform: scale(1.03);
    }
}
