.infoCard {

    display: flex;
    height: min-content;
    width: auto;
    position: relative;
    color: var(--color-primary);
   
    &--right {
        flex-direction: row-reverse;
    }

    &__img {

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 80vh;
        width: 55vw;

        &--right {
            clip-path: polygon(0px 0px, 80% 0%, 100% 100%, 0% 100%);
        }

        &--left {
            clip-path: polygon(0px 0px, 100% 0%, 100% 100%, 20% 100%);
        }
    }

    &__content {
       
        display:flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 100%;
        width: 50vw;
        padding: 5rem 12rem 5rem 12rem;
        
        &--left {
            left:0;
        }

        &--right {
            right:0;
        }
    }

    &__header {

        justify-self: center;
        letter-spacing: var(--letter-space-header);
        
        &--1 {

           font-size: var(--heading-main); 
        }

        &--2 {

            font-size: var(--heading-small);
            font-weight: 100;
            letter-spacing: var(--letter-space-header-2);
        }

        &--3 {

            text-align: center;
            width: 100%;
            font-family: var(--font-secondary);
            font-size: var(--heading-secondary-2);
            font-weight: 500;   
        }

    }

    &__paragraph {
        
        font-size: 1.45rem;
        font-weight: 400;
        text-align: center;
        letter-spacing: var(--letter-space-text-2);
        line-height: 2.3rem;
        color: var(--color-light-secondary);
        
    }

    &__icon-container {

        display: flex;
        justify-content: center;
    }

    &__icons {

        height: 4.5rem;
        margin: 1rem;
        opacity: 0.9;

        &--youtube_icon {
            border-radius: 1rem;
        }

        &:hover {
            transform: scale(1.1);
            opacity: 1;
        }
    }

    &__btn {

        grid-column: 3;
        grid-row: 5;
        justify-self: center;
    }
}



// @media screen and (max-width: 192rem) { // larger sizes 4k

//     .infoCard {

//         background-color: rgb(245, 247, 150);

//         &__content {
       
//             // padding: 5rem 12rem 5rem 10rem;
//             padding: 5rem 15rem 5rem 10rem;
                   
//             }

//         &__header {

//             font-size: 6.9rem;
//             // font-size: 3.9vw;
//             // letter-spacing: .5rem;

            
//             &--2 {
               
//                 font-size: 1.9rem;
                
//             }
    
//             &--3 {
                
//                 font-size: 4rem;
//             }    
        
//         }

//         &__paragraph {

//             font-size: 1.45rem;
//             // font-size: .8vw;
//             // padding: 0 10rem 0 5rem;
           
//         }

    
//         &__icons {
    
//             // height: 2.5vw;
//             // cursor: pointer;
//         }
        
//     }
// }

@media screen and (max-width: 103.125em) { 

    .infoCard {

        &__header {

            &--1 {
                font-size: 4.5vw;
            }
           
            &--3 {
                
                font-size: 2.7vw;
               
                text-align: center;
            }    
        }
    }
}

@media screen and (max-width: 90em) {
    .infoCard {
        &__header {

            &--1 {
                font-size: 6.9;
            }
        }

        &__content {
            padding: 5rem 8rem 5rem 8rem;
        }
    }
}

@media screen and (max-width: 78em) { //75rem 
   

    .infoCard {

        &__img {

            clip-path: none;
            width: 100%;
            height: 85vh;
            background-position: center;
        }

        &__content {

            background: linear-gradient(90deg, #f0f0f0c4 0%, #f7f6f6f7 35%, #ece8e8e0 100%);
            padding: 0 6rem 0 7rem;
            height: 100%;   
        }

        &__header {

            font-size: 6vw;
           
            &--2 {
               
                font-size: 2.5rem;
                margin-bottom: 2rem; 
            }
    
            &--3 {
                
                font-size: 2.5vw;
                margin-top: 2rem;
            }    
        
        }

        &__paragraph {

            font-size: 1.2vw;
            line-height: 2.5rem;
        }

        &__icons {
    
           height: 3vw;
        }
        
    }
}



@media screen and (max-width: 64em) { //large tablets portrait onwards

    .infoCard {
        
        display: flex;
        flex-direction: column;

        &__img {

            background-size: cover;
            height: 55vh;
            width: 100%;
            background-position-x: center;
        }

        &__content {

            position: unset;
            height: 100%;
            width: 100%;
            padding: 7rem 10rem 7rem 10rem;
        }

        &__header {

           &--1 {
               font-size: 9rem;
               padding: 0 8rem 0 8rem;
           }
           
            &--2 {
               
                font-size: 3rem; 
                margin-bottom: 3rem;
            }
    
            &--3 {
                
                font-size: 4.5rem;
            }    
        
        }

        &__paragraph {

            padding: 1rem 10rem 1rem 10rem;
            font-size: 2rem;
        }

    
        &__icons {
    
           height: 4.5vw;
        }
        
    }
}


@media screen and (max-width: 37.5em) {

    .infoCard {
        
        display: flex;
        flex-direction: column;

        &__img {

            background-size: cover;
            height: 55vh;
            width: 100%;
            background-position-x: center;
        }

        &__content {

            position: unset;
            height: 100%;
            width: 100%;
            padding: 5vh 15vw 5vh 15vw;
        }

        &__header {

           font-size: 6vw;
        
           &--1 {
               padding: 0 8rem 0 8rem;
           }
           
            &--2 {
               
                font-size: 2.1vw; 
            }
    
            &--3 {
                
                font-size: 4vw;
            }    
        
        }

        &__paragraph {

            font-size: 1.5vw;
            
        }

    
        &__icons {
    
           height: 4.5vw;
        }
        
    }
}



