

.main-container { // main grid layout

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 90vh 10vh repeat(5, min-content);
    grid-column-gap: 0px; 
    grid-row-gap: 0px;
    min-width: 30rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: linear-gradient(90deg, rgba(240,240,240,1) 0%, rgba(247,246,246,1) 35%, rgba(236,232,232,1) 100%);
    color: white;
}

.landing {

    grid-column: 1/11;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 1000; 
    min-width: 30rem;
    
    &__title {

       font-size: 10rem;
       letter-spacing: 0.6rem;
       font-weight: 500;
       margin-bottom: .5rem;
    }

    &__subtitle { 

        font-size: 1.9rem;
        letter-spacing: 0.5rem;
        font-weight: 100;
        margin-bottom: 1.5rem;
    }
}

.section-welcome {

    grid-column: 1/11;
    grid-row: 3/4;
}

.workshop-container { //grid layout 
    
    grid-column: 1 / span all;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3A4256;
}

.workshop {

    &__header {

        color: #e1e1e1;
        font-weight: 700;
        font-size: 5rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        text-align: center;
        margin-top: 10rem;
        margin-bottom: 5rem;

        @media only screen and (max-width: 28.125em) {
            padding: 0 5rem 0 5rem;
         }
    }
}

.card-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10rem;
    width: 100%;

    @media only screen and (max-width: 64em) {
        width: 80rem;
    }

    @media only screen and (max-width:32.5em) {
        width: 100%;
    }
}

.testimony-container {

    grid-column: 1 / span all;
    height: min-content;
    position: relative;
}

.lightbox-container {

    grid-row: 6/7;
    grid-column: 1 / span all;
    height: min-content;
    background-color:#3a4256ed;
    display: flex;
    justify-content: center;
}

.taekwondo-container {

    grid-row: 7/8; 
    grid-column: 1/12;
}

@media only screen and (max-width: 56.25em) {
    .landing {
        
        &__title {
            
            // font-size: calc(10rem - 0.7rem - (1vw));
            font-size: 10vw;
            
            &--2 {
            
                width: 80%;
                text-align: left;
            }
        }

        &__subtitle {

            &--2 {
                width: 80%;
                text-align: left;
            }
        }
    }
}








 
    