.card {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28rem;
    height: 47rem;
    background-color:#f2f2f2;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: .7rem;
    overflow: hidden;
    margin: 2rem 2rem 2rem 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    
    

    transition: all .3s;

    &__background-img {

        object-fit: cover;
        width: 30rem;
        height: 23rem;

       &--4 {
           object-position: 0 -20px;
       }
    }

    &__heading {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 5vh;
        margin-bottom: 2rem;
        background-color: #232323;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
        color: #e1e1e1;
        
    }

    &__text{

        margin-left: 2.5rem;
        margin-right: 2.5rem; 
        margin-top: 1.3rem;
        margin-bottom: 1.5rem;
        text-align: center;
        color: rgb(53, 53, 53);
        font-size: 1.2rem;
    }

    &__button {
        margin-top: 2.5rem;
    }

    &:hover{
        transform: scale(1.03);
        outline: yellow;
        
    }
}
