.banner {
   
    height: min-content;
    width: 100%;
    overflow: hidden; //overflow for hidden elements in dropdown 
   
    &:hover {

        .banner__dropDownIcon {
            height: 3.2rem;
            width: 3.2rem;
        }
    }

    &:active {

        .banner__dropDownIcon {
            transform: scale(.9);
        }
    }


    &__header { //container

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 20rem;
        background: linear-gradient(142deg, rgba(22,22,22,1) 0%, rgba(27,27,27,1) 80%);
        color: #dbdbdb;
        text-transform: uppercase;
        letter-spacing: .3rem;
       
        cursor: pointer;

        &:hover {

            .banner__heading {

                font-size: 6.6rem;
                font-weight: 500;    
            }

            .banner__subHeading {
                    font-size: 2.1rem;
            }

            .banner__heading, .banner__subHeading {
                color: #f4f4f4;
            }
        }

        &:active {

            .banner__heading {
    
                font-size: 6.3rem;
                font-weight: 400;
            }

            .banner__subHeading { 

                font-size: 1.9rem;
            }
        }    
    }

    &__heading {

        font-size: 6.5rem;
        font-weight: 400;
        transition: all ease-in-out .19s; 
    }

    &__subHeading {
       
        margin-top: .7rem;
        font-weight: 300;
        font-size: 2rem;
        letter-spacing: 0.2rem;

        transition: all ease-in .19s;
    }

    &__drop-content { //container

        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 0px;
        padding: 0% 15% 0% 15%;
        text-transform: uppercase;

        transition: max-height ease-in-out .7s,
                    opacity ease-in .6s,
                    visibility ease-in .6s;   
    }

    &__drop-heading {

        margin-bottom: 2rem;
        color: #8a8a8a;
        font-weight: 600;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: var(--letter-space-text-2);
    }

    &__drop-info { //container for text
 
        width: 80rem;
        padding: 10% 0 5% 0;
        font-size: 1.6rem;
        text-transform: lowercase;

        //for text alignment 
        &--left {
            text-align: left;
        }

        &--center {
            text-align: center;
        }

        :empty { //for empty p tags not used in component
            margin: 0rem; 
        }
    }

    &__drop-text {

        letter-spacing: var(--letter-space-text-2);
        line-height: var(--line-height-primary);
    }

    &__drop-infoSecondary { //container

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80rem;
        padding-bottom: 8%;
    }

    &__footer { //container
      
        display: flex;
        justify-content: center;
        height: 3.5rem;
        width: 100%;
        background: linear-gradient(45deg, rgba(94,17,17,1) 30%, rgba(85,21,21,1) 50%, rgba(94,17,17,1) 70%);

        transition: ease-in-out .3s;
    }

    &__dropBtn {
        
        background-color: transparent;
        border: none;
        outline: none;
        width: 100%;
        
        :active {
            transform: scale(.9);
        }
    }

    &__dropDownIcon {

        fill:var(--color-light-primary);
        height: 2.7rem;
        width: 2.7rem;
        cursor: pointer;
    }

}

@media only screen and (max-width: 64em) {
    .banner {

        &__drop-info { //container for text
 
            width: 100%;
        }
    } 
}

@media only screen and (max-width: 53.125em) {

    .banner {

        &__drop-infoSecondary { //container

            width: 100%;
            padding-bottom: 15%;
           
        }
    }
}

@media only screen and (max-width: 28.125em) {

    .banner {

        &__drop-info { //container for text

            padding: 15% 0 5% 0;
        }

        &__drop-heading {

            // line-height: 2.5rem;
            // font-size: 2rem

            line-height: 3rem;
            font-size: 2.4rem;
        }

        &__drop-text {

            // line-height: 2.7rem;
            // font-size: 1.8rem;

            font-size: 2.2rem;
            line-height: 3.3rem;
            
        }
    }
}

@media only screen and (max-width: 28.125em) {

    .banner {

        &__header {
    
            &:hover {
    
                .banner__heading {

                    font-size: 10.5vw;
                }

                .banner__subHeading {

                        font-size: 3.3vw;
                }
            }
    
    
            &:active {
    
                .banner__heading {

                    font-size: 10.2vw;
                }
    
                .banner__subHeading { 
    
                    font-size: 3.1vw;
                }
            }
        }

        &__heading {

            font-size: 10vw;
        }

        &__subHeading {

            font-size: 3vw;
        }

        // &__drop-heading {
        //     font-size: 1.8rem;
        // }
    }
}



