.banner {
   
    height: min-content;
    width: 100%;
   
    &:hover {

        .banner__dropDownIcon {
            height: 3.2rem;
            width: 3.2rem;
        }
    }

    &:active {

        .banner__dropDownIcon {
            transform: scale(.9);
        }
    }


    &__header {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 20rem;
        background: linear-gradient(142deg, rgba(22,22,22,1) 0%, rgba(27,27,27,1) 80%);
        color: #dbdbdb;
        letter-spacing: .3rem;
       
        cursor: pointer;

        &:hover {

            .banner__heading {

                font-size: 6.6rem;
                font-weight: 500;    
            }

            .banner__subHeading {
                    font-size: 2.1rem;
            }

            .banner__heading, .banner__subHeading {
                color: #f4f4f4;
            }
        }


        &:active {

            .banner__heading {
    
                font-size: 6.3rem;
                font-weight: 400;
            }

            .banner__subHeading { 

                font-size: 1.9rem;
            }
        }    
    }

    &__heading {

        font-size: 6.5rem;
        text-transform: uppercase;
        font-weight: 400;
        transition: all ease-in-out .19s;
    }

    &__subHeading {
       
        margin-top: .7rem;
        font-weight: 300;
        font-size: 2rem;
        letter-spacing: 0.2rem;
        text-transform: uppercase;

        transition: all ease-in .19s;
    }

    &__drop-content {

        display: flex;
        flex-direction: column;
        align-items: center;
        visibility: visible;
        max-height: 0px;
        text-align: center;

        transition: max-height ease-in-out .7s,
                    opacity ease-in .6s,
                    visibility ease-in .6s;
        
    }

    &__drop-heading {

        font-size: 8rem;
        color: #5B5B5B;
        text-transform: uppercase;
        letter-spacing: .3rem;
        font-weight: 700;
        padding-top: 10rem;
    }

    &__drop-subHeading {

        margin-top: 2.5rem;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 2.3rem;
        letter-spacing: var(--letter-space-text-2);
        color: var(--color-primary);
    }


    &__drop-info { //drop-text container

        display: flex;
        flex-direction: column;
        align-items: center; 
        width: 70%;
        margin-top: 1.5rem;
        text-align: left;
        font-size: 1.6rem;

        :empty { //for empty p tags not used in component
            margin: 0rem; 
        }
    }

    &__drop-text {

        width: 60%;
        letter-spacing: var(--letter-space-text-2);
        line-height: var(--line-height-primary);
    }

    &__drop-infoSecondary {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 50%;
        margin-bottom: 10rem;
    }

    &__footer {
      
        display: flex;
        justify-content: center;
        height: 3.5rem;
        width: 100%;
        background: linear-gradient(45deg, rgba(94,17,17,1) 30%, rgba(85,21,21,1) 50%, rgba(94,17,17,1) 70%);

        transition: ease-in-out .3s;
    }

    &__dropBtn {
        
        background-color: transparent;
        border: none;
        outline: none;
        width: 100%;
        
        :active {
            transform: scale(.9);
        }
    }

    &__dropDownIcon {

        fill:var(--color-light-primary);
        height: 2.7rem;
        width: 2.7rem;
        cursor: pointer;
    }

}

@media only screen and (max-width: 28.125em) {

    .banner {

        &__header {
    
            &:hover {
    
                .banner__heading {
                
                    // font-size: 6.2rem;
                    font-size: 10.5vw;
                }
                .banner__subHeading {
                   
                        // font-size: 2.4rem;
                        font-size: 3.3vw;
                }
            }
    
    
            &:active {
    
                .banner__heading {
        
                    font-size: 10.2vw;
                }
    
                .banner__subHeading { 
    
                    font-size: 3.1vw;
                }
            }
        }

        &__heading {

            font-size: 10vw;
        }

        &__subHeading {

            font-size: 3vw;
        }
    }
}

