.InfoCard2 {

    display: flex;
    height: 85vh;
    min-height: 80rem;
    width: 100vw;
    background-color:#fafafa;

    &--contentLeft {
        flex-direction: row-reverse;
    }

    &--contentRight {
        flex-direction: row;
    }
   

    &__img {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-size: cover;
        width: 40%;  
    }

    &__content {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        height: 100%;
        width: 60%;
        padding: 10%;   
    }

    &__header-container {
        
    }

    &__heading {

        font-size: 6.3rem;
        text-transform: uppercase;
        letter-spacing: var(--letter-space-header);
        color:var(--color-light-primary);
    }

    &__subheading {

        margin-bottom: 2rem;
        font-size: 4rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        color: #5B5B5B;
    }

    &__p-container {

        width: 90%;
    }

    &__p-text {

        margin-bottom: 3rem;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: var(--letter-space-text-2);
        line-height: var(--line-height-primary);  
    }
}