.InfoCard2 {

    display: flex;
    height: 85vh;
    min-height: 80rem;
    width: 100vw;
    background-color:#fafafa;

    &--contentLeft {
        flex-direction: row-reverse;
    }

    &--contentRight {
        flex-direction: row;
    }
   

    &__bkgroundImg {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        background-size: cover;
        background-color: whitesmoke;
        width: 40%;  

        &--center {
            background-position: center;
        }

        &--left {
            background-position-x: 20%;
        }

        &--bottom {
            background-position: bottom;
        }
    }

    &__content {

        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 60%;
        padding: 10%;   
    }

    &__heading {

        font-size: 6.3rem;
        text-transform: uppercase;
        letter-spacing: var(--letter-space-header);
        color:var(--color-light-primary);

    }

    &__subheading {

        margin-bottom: 2rem;
        font-size: 3rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        color: #5B5B5B;
    }

    &__p-container {

        width: 90%;

        :empty {
            margin-bottom: 0rem; // for any empty p-text to have no margin 
        }
    }

    &__p-text {

        margin-bottom: 3rem;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: var(--letter-space-text-2);
        line-height: var(--line-height-primary); 
    }
}



//Media queries===========================================

@media only screen and (max-width: 103.125em) {
    
    .InfoCard2 {

        &__subheading {
           font-size: 2.9rem;
        }
    }
}

@media only screen and (max-width: 64em) {
    
    .InfoCard2 {

        display: flex;
        flex-direction: column;
        height: min-content;

        &__bkgroundImg {

            display: flex;
            justify-content: center;
            align-items: flex-start;

            width: 100%;
            height: 55vh;
            min-height: 50rem;

        }

        &__header-container {

            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 15%;
            text-align: left;   
        }

        &__heading {

            font-size: 6.5rem;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        &__content, &__p-container {
            width: 100%;
        }

        &__content {
            padding: 10% 15% 10% 15%;
        }

    }
}

@media only screen and (max-width:37.5em) {

    .InfoCard2 {

        &__subheading {
            margin-bottom: 2rem;
      
        }
    }
}

@media only screen and (max-width:28.125em) {

    .InfoCard2 {

        &__bkgroundImg {

            width: 100%;
            height: 55vh;
            min-height: 35rem;
        }

        &__content {
            padding: 15% 15% 15% 15%;
        }

        &__heading {
            font-size: 4rem
        }

        &__subheading {
            
            font-size: 3rem;
            width: 90%;
        }

        &__p-text {

            padding-right: 0.5rem;
            font-size: 1.8rem;
            line-height: 2.7rem;
        }
    }
}