
.aboutMe-layout {

   width: 100vw;
   font-family: var(--font-primary);
   background-color: var(--color-light-primary);   
}

.aboutMe-main {

   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   margin: 0 auto;

   background-color: #fafafa;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
   color: #5B5B5B;

}